.header {
    display: flex;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px #00000021;
    width: 77%;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    position: relative;
    color: #6d7e90;
    position: absolute;
    top: 15px;
    right: 30px;
}

.header img {
    width: 40px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
}

.header .searchbar {
    display: flex;
    align-items: center;
    width: 80%;
}

.icon {
    font-size: 30px;
}

.header .searchbar input {
    outline: none;
    padding: 3px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    font-size: 20px;
}

.header .searchbar input::placeholder {
    color: #6d7e90a8;
}

.header .user {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 50px;
}

.header .user .buttons {
    display: flex;
    align-items: center;
}

.header .user .buttons button {
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 15px;
    align-items: center;
    display: flex;
    gap: 5px;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    background-image: linear-gradient(0deg, #ccc, #f2eded76);
}

.header .user .buttons p {
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 6px 11px;
}
