.character {
  position: absolute;
  width: 30px; /* ajuste o tamanho do personagem conforme necessário */
  height: 30px; /* ajuste o tamanho do personagem conforme necessário */
  color: white;
}
  
.game {
  position: relative;
  background-color: black;
}
  
.moves-counter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgba(44, 39, 39, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.objetivo {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: lightblue; 
}

.b1{
  width: 5%;
  height: 1%;
  color:white ;
  background-color: rgb(49, 31, 255);
}