html,
body {
  padding: 0;
  margin: 0;
}

.linha {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: max-content;
}

.tabuleiro {
  width: max-content;
  margin: auto;
}
