.sidebar {
    width: 18.5%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 10px #00000021;
    align-items: center;
}

.icon {
    color: #8486ff;
    font-weight: bold;
    font-size: 40px;
}

.logo {
    font-size: 40px;
    color: #6d7e90;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.container {
    position: absolute;
    left: 25px;
    top: 30px;
}

.itens {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.arrow {
    position: absolute;
    right: 15px;
    transition: .5s;
}
.itemSingle:hover .arrow { color: transparent; }

.itemSingle {
    padding: 15px;
    border-radius: 10px;
    color: #6d7e90;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    width: 300px;
    transition: .5s;
}.itemSingle:hover {
    background-color: #8486ff55;
    color: #8486ff;
}.bar {
    transition: 1.5s;
}.itemSingle:hover .bar {
    height: 40px;
    width: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #8486ff;
    position: absolute;
    right: -30px;
}

.itens label {
    color: #6d7e90;
}
